<!-- Body -->
<section class="container">
  <div class="centrar">
    <div class="formulario">
      <h1>Registrate</h1>
      <form [formGroup]="form" method="post" class="form-register">

        <div class="username">
          <input
            type="text"
            placeholder="Alias / Nombre de Usuario"
            id="username"
            formControlName="username"
          />
        </div>

        <div class="username">
          <input required formControlName="nombre" type="text" placeholder="Nombre" id="name" />
          <!-- <label>Nombre de usuario</label> -->
        </div>

        <div class="username">
          <input formControlName="apellido" type="text" placeholder="Apellido" id="lastName" required />
        </div>

        <div class="username">
          <input formControlName="email" type="email" placeholder="Email" id="email" required />
          <div *ngIf="email?.hasError && email?.touched">
            <p *ngIf="email?.hasError('email')" class="text-danger">Formato de mail no valido</p>
          </div>
        </div>

        <div class="username">
          <input formControlName="dni" type="text" placeholder="DNI" id="identification" />
        </div>

        <div class="username">
          <input formControlName="domicilio" type="text" placeholder="Domicilio" id="address" />
        </div>

        <div class="username">
          <input formControlName="telefono" type="text" placeholder="Telefono" id="phone" />
        </div>

        <div class="username">
          <input type="password" placeholder="Contraseña" id="password" required formControlName="password"/>
          <div *ngIf="password?.hasError && password?.touched">
            <p class="text-danger">Longitud minima de 8 caracteres</p>
          </div>
        </div>
        

        <div class="username">
          <input
            type="password"
            placeholder="Repeti Contraseña"
            id="password2"
            formControlName="password2"
            required
          />
        </div>

        <div *ngIf="username?.hasError && username?.touched || password?.hasError && password?.touched || password2?.hasError && password2?.touched || email?.hasError && email?.touched || telefono?.hasError && telefono?.touched || domicilio?.hasError && domicilio?.touched || dni?.hasError && dni?.touched || nombre?.hasError && nombre?.touched || apellido?.hasError && apellido?.touched">

          <p *ngIf="username?.hasError('required') || password?.hasError('required') || password?.hasError('required') || email?.hasError('required') || telefono?.hasError('required') || domicilio?.hasError('required') || dni?.hasError('required') || nombre?.hasError('required') || apellido?.hasError('required')" class="text-danger">Todos los campos son obligatorios</p>
        </div>

        <!-- <a href="./home banking.html"> -->
        <input
          type="button"
          value="Registrarme"
          class="boton-inicio"
          id="btnRegister"
          (click)="Registrar()"
        />
        <!-- </a> -->

        <div class="registrarse">
          Soy un usuario, quiero
          <a routerLink="/login">ingresar</a>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End Body -->

<!-- JS de register -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="module" src="../js/register.js"></script>
