html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
:root{
    --main-color:#2C3333;
    --secondary-color:#A5C9CA;
    --terciary-color:#E7F6F2;
}

.background-main {
    background-color: #2C3333;
    width: 100%;
}
.background-main .container {
    padding: 100px 0px 100px 0px;
}
.image-main{
    height: 200px;
    margin: 20px 0 20px 0;
}

.main-cards {
    background-color: #E7F6F2;
    padding: 10px;
    margin: 25px;
    color: black;
    width: 400px;
    max-width: 400px;
    border-radius: 30px;
}
.main-cards span {
    margin-right: auto;
    padding-left: 15px;
}
.main-cards div {
    margin-left: auto;
}
.main-cards p{
    text-align: center;
    justify-self: center;
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0;
    padding-right: 20px;
}
.curva {
    width: 100%;
    height:178px;
    background-image: url(../assets/img/curva.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* NOSOTROS */

.background-sobre-nosotros {
    background-color: white;
}

.image-nosotros {
    width: 320px;
}
.image-nosotros img {
    width: 100%;
}

.section-sobre-nosotros .row article h1{
    font-size: 3rem;
}
.section-sobre-nosotros .row article p {
    font-size: 2rem;
}