.footer-content {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer-content h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}