footer {
    padding: 0 15px;
    background-color: #a5c9ca;
}

.footer-content {
    width: 100%;
    text-align: center;
    /* padding: 30px 0; */
    margin-top: 50px;
    padding-top: 10px;
}

.footer-content h3 {
    /* margin-bottom: 25px; */
    /* margin-top: 20px; */
    font-weight: 600;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.icons .fa {
    color: #395b64;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    /* font-size: 20px; */
}