.header-container {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.nav-head {
    font-size: 17px;
    display: flex;
    /* Permite Organizar los elementos */
    justify-content: space-between;
    /* Va a utilizar todo el ancho disponible */
    align-items: center;
    height: 80px;
    padding: 20px 0;
    margin: 0 20px 0 20px;
}

.logo {
    left: 15px;
    font-size: 15px;
    /* padding-top: 0px; */
    width: auto;
    height: auto;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 75px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: 13px;
    right: auto;
}

.nav-links ul li {
    color: #e7f6f2;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #e7f6f2;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #a5c9ca;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.header-container {
    width: 100%;
    background-color: #2c3333;
    position: fixed;
}

nav .fa {
    display: none;
}

@media (max-width: 800px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #395b64;
        height: 100vh;
        width: 200px;
        top: -13px;
        right: -200px;
        text-align: left;
        z-index: 10;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #e7f6f2;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}