/* header {
    width: 100%;
    height: 80px;
    background: #2c3333;
} */

.volver {
    /* margin-left: 80%; */
    position: relative;
    justify-content: center;
    margin-top: 40px;
}


/* .nav-brand {
    margin-top: 10px;
    margin-left: 20px;
    width: 75px;
    height: 60px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* height: 150vh; */
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formulario {
    position: relative;
    padding: 10px;
    /* margin-top: 10%; */
    /* margin-left: 37vw; */
    width: 400px;
    background: white;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid #7fbec0;
    box-shadow: 5px 5px 20px 6px #abb7b7;
}

.formulario h1 {
    color: #2c3333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #d1d6d6;
    font-size: 30px;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 1px solid #d1d6d6;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #a5c9ca;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #a5c9ca;
    transition: 0.5s;
}

.username input:focus~label,
.username input:focus~label {
    top: -5px;
    color: #2c3333;
}

.recordar {
    margin: -5px 0 20px 5px;
    color: #4861e0;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid #3e1cff;
    background: #3e1cff;
    border-radius: 25px;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #13026e;
    transition: 0.5s;
    font-size: 22px;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a {
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}