.hb {
    border-radius: 50%; 
    float: left;
    height: 8em;
}

.container {
    height: 200px;
}

.general {
    height: 10em;
}

.text {
    text-align: left;
    height: 1em;
    padding: 1em 0;
}

.transfer {
    
}