html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #2c3333;
  --secondary-color: #a5c9ca;
  --terciary-color: #e7f6f2;
}

.bg-main {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 100px 0px 100px 0px;
}

.bg-main .container .row a {
  text-decoration: none;
}

.btn {
  background: #395b64;
  border-color: #395b64;
  transition: 0.8s;
  font-weight: 500;
  color: white ;
  margin:15px 0;
  padding: 10px;
}

.btn:hover {
  background: #2e7b91;
  border-color: #2e7b91;
}

.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}

.tx-tfm {
  text-transform: uppercase;
}

form .error {
  color: #ff0000;
}

#second {
  display: none;
}
