/* You can add global styles to this file, and also import other style files */

:root {
  --azul-oscuro: #2c3333;
  --azul-claro: #395b64;
  --celeste: #a5c9ca;
  --claro: #e7f6f2;
  --azul-claro-hover: #2e7b91;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* background-color: aqua; */
  margin: 0;
  top: 0;
  /* padding-top: 80px; */
  /* font-family: "Roboto", sans-serif; */

}

.col-md-6 {
  position: inherit !important;
}

.col-md-5 {
  position: inherit !important;
}

.col-md-4 {
  position: inherit !important;
}

.col-md-3 {
  position: inherit !important;
}

.col-md-2 {
  position: inherit !important;
}

.col-md-1 {
  position: inherit !important;
}

.col-md {
  position: inherit !important;
}

.col_md {
  /* position: relative; */
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
