<!-- Body -->
<h1 style="text-align: center">Pagos</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Pago de Servicios</h5>
          <p class="card-text">Paga tus servicios de manera rápida y segura.</p>
          
          <select class="form-select mb-4" aria-label="Default select example" [(ngModel)]="precio_servicio">
            <option value="3559">Gas</option>
            <option value="1878">Agua</option>
            <option value="11050">Luz</option>
            <option value="21307">Telefono</option>
          </select>

          <ngx-paypal [config]="payPalConfig"></ngx-paypal>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-3 ">
        <div class="card-body">
          <h5 class="card-title">Pago de Tarjetas</h5>
          <p class="card-text">Paga tus tarjetas de manera rápida y segura.</p>
          <a href="javascript:void(0)" (click)="NoDisponible()" class="btn btn-primary" id="btnPagarTarjetas">Pagar</a>
          <!-- <a href="./pagos-tarjetas.html" class="btn btn-primary" id="btnPagar">Pagar</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Pago de Prestamos</h5>
          <p class="card-text">Paga tus prestamos de manera rápida y segura.</p>
          <a href="javascript:void(0)" (click)="NoDisponible()" class="btn btn-primary" id="btnPagarPrestamos">Pagar</a>
          <!-- <a
            href="./pagos-tarjetas.html"
            class="btn btn-primary"
            id="btnPagar"
            >Pagar</a
          > -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Pago de Productos</h5>
          <p class="card-text">Paga productos de manera rápida y segura.</p>
          <a href="javascript:void(0)" (click)="NoDisponible()" class="btn btn-primary" id="btnPagarProductos">Pagar</a>
          <!-- <a
            href="./pagos-tarjetas.html"
            class="btn btn-primary"
            id="btnPagar"
            >Pagar</a
          > -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Pago de Cuentas</h5>
          <p class="card-text">Paga productos de manera rápida y segura.</p>
          <a href="javascript:void(0)" (click)="NoDisponible()" class="btn btn-primary" id="btnPagarCuentas">Pagar</a>
          <!-- <a
            href="./pagos-tarjetas.html"
            class="btn btn-primary"
            id="btnPagar"
            >Pagar</a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Body -->

<!-- JS pagos -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/pagos.js" defer></script>


<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>
  const mp = new MercadoPago("TEST-36c67996-ba9a-43da-b148-51e12b73a2cb");
</script>
