<!-- Body -->
<h1 style="text-align: center">Soporte</h1>
<!-- End Body -->

<a
  href="#"
  class="main-cards d-flex align-items-center justify-content-center"
  id="FAQ"
>
  <span
    ><img src="../assets/img/arrow-right-arrow-left-solid.svg" alt=""
  /></span>
  <p>FAQ (Preguntas Frecuentes)</p>
  <div></div>
</a>

<!-- Menu De Preguntas -->
<div class="izquierda">
  <div class="formulario">
    <form method="post">
      <div class="selection">
        <input type="list" placeholder="Seleccione Una Pregunta" required />

        <a
          href="#"
          class="main-cards d-flex align-items-center justify-content-center"
          id="Turnos"
        >
          <span
            ><img src="../assets/img/arrow-right-arrow-left-solid.svg" alt=""
          /></span>
          <p>Turnos</p>
          <div></div>
        </a>

        <!-- Bootstrap CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
        />

        <div class="dropdown">
          <button
            type="button"
            class="btn btn-secondary dropdown-toogle"
            id="simpleDropdown"
            data-bs-toggle="dropdown"
            aria-espanded="false"
          >
            Día
          </button>

          <a
            href="#"
            class="main-cards d-flex align-items-center justify-content-center"
            id="TyC"
          >
            <span
              ><img src="../assets/img/arrow-right-arrow-left-solid.svg" alt=""
            /></span>
            <p>Términos y Condiciones</p>
            <div></div>
          </a>
          <a
            href="#"
            class="main-cards d-flex align-items-center justify-content-center"
            id="Seguridad"
          >
            <span
              ><img src="../assets/img/arrow-right-arrow-left-solid.svg" alt=""
            /></span>
            <p>Seguridad</p>
            <div></div>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- JS de Soporte -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/soporte.js"></script>
