<!-- Body -->
<main class="main">
  <div class="foto">
    <h2 style="text-align: center">Tu perfil</h2>
    <img
      src="../assets/img/icono-usuario.webp"
      alt="usuario"
      class="bd-placeholder-img rounded-circle"
      width="140"
      height="140"
    />
  </div>
  <div class="datos">
    <table class="table-striped" width="500">
      <tr>
        <th scope="row">Nombre y Apellido:</th>
        <td>Nicolas Quiñonero</td>
      </tr>
      <tr>
        <th scope="row">CVU:</th>
        <td>4562238744196</td>
      </tr>
      <tr>
        <th scope="row">Alias:</th>
        <td>Elmago</td>
      </tr>
      <tr>
        <th scope="row">Teléfono:</th>
        <td>351223547</td>
      </tr>
      <tr>
        <th scope="row">Email:</th>
        <td>nicoquinonero@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">DNI:</th>
        <td>31524679</td>
      </tr>
      <tr>
        <th scope="row">Domicilio:</th>
        <td>av. siempreviva 2131</td>
      </tr>
    </table>
  </div>
</main>
<div class="editar">
  <div class="d-grid gap-2 col-2 mx-auto">
    <button
      type="button"
      class="btn btn-dark"
      id="btnEditar"
      (click)="editarButton()"
    >
      <!-- <button
      type="button"
      class="btn btn-dark"
      id="btnEditar"
      routerLink="/personas"
    > -->
      Editar datos
    </button>
  </div>
</div>

<!-- End Body -->

<!-- JS de perfil -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/perfil.js"></script>
