<!-- Body -->
<main class="background-main">
  <section class="container container-main">
    <div class="row">
      <div
        class="col-sm-12 col-md-5 col-xl-5 d-flex justify-content-center align-items-center"
      >
        <img
          src="../assets/img/logo-no-background.png"
          alt="logo-bankarg"
          class="image-main"
        />
      </div>

      <section
        class="col-sm-12 col-md-7 col-xl-7 d-flex justify-content-center flex-wrap"
      >
        <article
          class="main-cards d-flex align-items-center justify-content-center"
        >
          <span
            ><img src="../assets/img/account_balance_wallet.svg" alt=""
          /></span>
          <p class="fs-5">Transferencias al instante</p>
          <div></div>
        </article>
        <article
          class="main-cards d-flex align-items-center justify-content-center"
        >
          <span><img src="../assets/img/account_balance.svg" alt="" /></span>
          <p class="fs-5">Seguridad</p>
          <div></div>
        </article>
        <article
          class="main-cards d-flex align-items-center justify-content-center"
        >
          <span><img src="../assets/img/attach_money.svg" alt="" /></span>
          <p class="fs-5">Tu plata en un solo lugar</p>
          <div></div>
        </article>
      </section>
    </div>
  </section>
  <div class="curva"></div>

  <section class="background-sobre-nosotros">
    <section class="container section-sobre-nosotros">
      <div class="row d-flex justify-content-evenly">
        <article class="col-sm-12 col-md-6 col-xl-6 image-nosotros">
          <img
            src="../assets/img/Banker taking clients money for saving 1.svg"
            alt=""
          />
        </article>
        <article
          class="col-sm-12 col-md-6 col-xl-6 d-flex justify-content-center flex-wrap sobre-nosotros-text"
        >
          <h3>Sobre nosotros</h3>
          <p class="fs-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            ultricies libero dui, sit amet fringilla enim mollis a. Cras
            volutpat pretium commodo. Proin tempus malesuada massa, sit amet
            mattis magna accumsan hendrerit. Curabitur ultrices elit mauris, at
            laoreet ante egestas id.
          </p>
        </article>
      </div>
    </section>

    <section
      class="ayuda-section container d-flex flex-wrap justify-content-center"
    >
      <div class="ayuda-border"></div>
      <a routerLink="/soporte" class="necesito-ayuda fs-5">Necesito ayuda</a>
    </section>
  </section>
</main>

<section class="container container-about">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold fs-3">Sobre Nosotros</h1>
      <p class="col-md-8 fs-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies
        libero dui, sit amet fringilla enim mollis a. Cras volutpat pretium
        commodo. Proin tempus malesuada massa, sit amet mattis magna accumsan
        hendrerit. Curabitur ultrices elit mauris, at laoreet ante egestas id.
      </p>
      <button class="btn btn-primary btn-lg fs-5" type="button">
        Example button
      </button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3 fs-5">
        <h2>Sobre</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          ultricies libero dui, sit amet fringilla enim mollis a. Cras volutpat
          pretium commodo. Proin tempus malesuada massa, sit amet mattis magna
          accumsan hendrerit. Curabitur ultrices elit mauris, at laoreet ante
          egestas id.
        </p>
        <button class="btn btn-outline-light fs-5" type="button">
          Example button
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3 fs-5">
        <h2>Nosotros</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
          ultricies libero dui, sit amet fringilla enim mollis a. Cras volutpat
          pretium commodo. Proin tempus malesuada massa, sit amet mattis magna
          accumsan hendrerit. Curabitur ultrices elit mauris, at laoreet ante
          egestas id.
        </p>
        <button class="btn btn-outline-secondary fs-5" type="button">
          Example button
        </button>
      </div>
    </div>
  </div>
</section>
<!-- End Body -->
