<!-- Body -->
<h1>Productos</h1>
<h3>Te ofrecemos facilidad y seguridad en todas tus transacciones</h3>
<main class="container">
  <section class="row d-flex align-items-center flex-wrap">
    <article
      class="logos d-flex align-items-center justify-content-center col-sm-12 col-md-6"
    >
      <span>
        <img
          class="hb"
          src="../assets/img/banking.png"
          alt="Home Banking"
          title="Home Bankarg"
        />
      </span>
      <p>
        <a routerLink="/homeBanking"> Home Banking </a> <br />Tendrás acceso a
        tus cuentas y podrás revisar tus movimientos de dinero en cualquier
        momento y desde todos los dispositivos asociados
      </p>
    </article>

    <article
      class="logos d-flex align-items-center justify-content-center col-sm-12 col-md-6"
    >
      <span>
        <img
          class="hb"
          src="../assets/img/transfer2.png"
          alt="Transferencias"
          title="Transferencias"
        />
      </span>
      <p>
        <a routerLink="/transferencias"> Transferencias </a> <br />Realizar tus
        transferencias nunca fue tan fácil
      </p>
    </article>

    <article
      class="logos d-flex align-items-center justify-content-center col-sm-12 col-md-6"
    >
      <span>
        <img
          class="hb"
          src="../assets/img/pago.png"
          alt="Pagos"
          title="Pagos"
        />
      </span>
      <p>
        <a routerLink="/pagos"> Pagos </a> <br />Podrás agregar servicios, hacer
        pagos únicos y recibir alertas de vencimientos
      </p>
    </article>

    <article
      class="logos d-flex align-items-center justify-content-center col-sm-12 col-md-6"
    >
      <span>
        <img
          class="hb"
          src="../assets/img/token.png"
          alt="Validación"
          title="Validación"
        />
      </span>
      <p>
        <a routerLink="/validacion"> Validaciones </a> <br />Todas tus
        transacciones se validarán con un token para mayor seguridad
      </p>
    </article>

    <article
      class="logos d-flex align-items-center justify-content-center col-sm-12 col-md-6"
    >
      <span>
        <img
          class="hb"
          src="../assets/img/prestamo.png"
          alt="prestamos"
          title="Prestamo"
        />
      </span>
      <p>
        <a routerLink="/prestamos"> Préstamos </a> <br />
        ¿Queres proteger du dinero? No te preocupes, te préstamos en cómodas
        cuotas y si acreditas tu sueldo con nosotros accedes a tasas
        preferenciales
      </p>
    </article>
    <article
      class="logos d-flex align-items-center justify-content-center col-sm-12 col-md-6"
    >
      <span>
        <img
          class="hb"
          src="../assets/img/.png"
          alt="cuentaAhorro"
          title="CuentaAhorro"
        />
      </span>
      <p>
        <a routerLink="/cuenta-ahorro"> Cuenta de ahorro </a> <br />
        Abri tu cuenta de ahorro sin comision de apertura para tener tu dinero
        seguro y protegerlo de la inflación
      </p>
    </article>
  </section>
</main>

<!-- End Body -->
