<!-- Body -->
<section class="container">
  <div class="centrar">
    <div class="formulario">
      <h1>Registrate</h1>
      <form method="post" class="form-register">
        <div class="username">
          <input
            type="text"
            placeholder="Alias / Nombre de Usuario"
            id="username"
          />
        </div>

        <div class="username">
          <input type="text" placeholder="Nombre" id="name" required />
          <!-- <label>Nombre de usuario</label> -->
        </div>

        <div class="username">
          <input type="text" placeholder="Apellido" id="lastName" required />
        </div>

        <div class="username">
          <input type="email" placeholder="Email" id="email" required />
        </div>

        <div class="username">
          <input type="text" placeholder="DNI" id="identification" />
        </div>

        <div class="username">
          <input type="text" placeholder="Domicilio" id="address" />
        </div>

        <div class="username">
          <input type="text" placeholder="Telefono" id="phone" />
        </div>

        <div class="username">
          <input
            type="password"
            placeholder="Contraseña"
            id="password"
            required
          />
        </div>

        <div class="username">
          <input
            type="password"
            placeholder="Repeti Contraseña"
            id="password2"
            required
          />
        </div>

        <!-- <a href="./home banking.html"> -->
        <input
          type="button"
          value="Registrarme"
          class="boton-inicio"
          id="btnRegister"
        />
        <!-- </a> -->

        <div class="registrarse">
          Soy un usuario, quiero
          <a href="./login.html">ingresar</a>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End Body -->

<!-- JS de register -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="module" src="../js/register.js"></script>
