html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

:root {
    --main-color: #2c3333;
    --secondary-color: #a5c9ca;
    --terciary-color: #e7f6f2;
}

.bg-main {
    width: 100%;
}

.bg-main .container .row a {
    text-decoration: none;
}

.bg-main .ct-main {
    padding: 100px 0px 100px 0px;
}

.main-cards {
    background-color: #e7f6f2;
    padding: 15px 10px;
    margin: 25px 10px;
    color: black;
    min-width: 270px;
    width: 320px;
    border-radius: 20px;
    transition: 500ms all;
}

.main-cards:hover {
    box-shadow: 7px 7px 20px 0px #161a1a;
    -webkit-box-shadow: 7px 7px 20px 0px #161a1a;
    -moz-box-shadow: 7px 7px 20px 0px #161a1a;
    transform: translateY(-5px);
    transition: 500ms all;
}

.main-cards img {
    width: 30px;
}

.main-cards span {
    margin-right: auto;
    padding-left: 15px;
}

.main-cards div {
    margin-left: auto;
}

.main-cards p {
    text-align: center;
    justify-self: center;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    padding-right: 20px;
}

.bg-main .row .section-cards {
    padding: 0;
}

.text-transferencias {
    font-size: 3rem;
    margin-bottom: 30px;
}

.image-container {
    width: 400px;
}

.image-container img {
    width: 100%;
}

.section-image {
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .image-container {
        width: 300px;
    }
}

.footer-transferencias,
.footer-transferencias p,
.footer-transferencias h3 {
    font-size: 1.8rem;
}