<!-- Footer -->
<footer>
  <div class="footer-content">
    <h3>BankArg</h3>
    <p>
      BankArg es una empresa de servicios financieros que ofrece una amplia gama
      de productos y servicios financieros a sus clientes.
    </p>
    <div class="icons">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
      <a href=""><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-bottom">&copy; BankArg | Designed by BankArg</div>
</footer>
<!-- End Footer -->
