<!-- Body -->
<main class="bg-main">
  <section class="container ct-main">
    <div class="row d-flex flex-wrap-reverse justify-content-evenly">
      <section
        class="col-sm-12 col-md-6 col-xl-6 d-flex justify-content-center flex-wrap"
      >
        <a
          href="#"
          class="main-cards d-flex align-items-center justify-content-center"
          id="btnTransferir"
        >
          <span
            ><img src="../assets/img/arrow-right-arrow-left-solid.svg" alt=""
          /></span>
          <p>Transferir a un Contacto</p>
          <div></div>
        </a>

        <a
          href="#"
          class="main-cards d-flex align-items-center justify-content-center"
          id="btnAgregarCont"
        >
          <span><img src="../assets/img/plus-solid.svg" alt="" /></span>
          <p>Agregar contacto nuevo</p>
          <div></div>
        </a>

        <a
          href="#"
          class="main-cards d-flex align-items-center justify-content-center"
          id="btnHistorial"
        >
          <span
            ><img src="../assets/img/clock-rotate-left-solid.svg" alt=""
          /></span>
          <p>Historial</p>
          <div></div>
        </a>
      </section>

      <section
        class="col-sm-12 col-md-6 col-xl-6 d-flex flex-wrap align-items-center flex-column section-image"
      >
        <h1 class="d-flex justify-content-center text-transferencias">
          Transferencias
        </h1>

        <div class="image-container d-flex justify-content-center">
          <img
            src="../assets/img/transferencias.png"
            alt="logo-bankarg"
            class="rounded img-responsive img-main"
          />
        </div>
      </section>
    </div>
  </section>
</main>
<!-- End Body -->

<!-- JS de transferencias -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/transferencias.js"></script>
