<header class="header-container">
  <nav class="nav-head">
    <a class="logo" href="./index.html">
      <img src="./assets/img/logo-solo.png" alt="BankArg" class="nav-brand" />
    </a>
    <div class="nav-links" id="navLinks">
      <i class="fa fa-times" onclick="hideMenu()"></i>
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./vistas/about.html">Sobre</a></li>
        <li><a href="./vistas/products.html">Productos</a></li>
        <li><a href="./vistas/transferencia.html">Transferencias</a></li>
        <li><a href="./vistas/soporte.html">Soporte</a></li>
        <li><a href="./vistas/contact.html">Contactanos</a></li>
        <li><a href="./vistas/perfil.html">Perfil</a></li>
        <li><a href="./vistas/home banking.html">Home Banking</a></li>
        <li class="login-subrayado">
          <a href="./vistas/login.html" id="login-button">Ingresa</a>
        </li>
      </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
  </nav>
</header>
